@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
}

.wrapper {
    font-family: "Roboto", sans-serif;
    color: black;
}


.container{
    box-sizing: border-box;
    max-width: 1440px;
    margin:0 auto;
    padding-left: 122px;
    box-sizing: border-box;
}

h1 {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
}

.watch__cinema h1 {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
}
.watch__cinema_text {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    padding-top: 16px;
}



.logotip {
    padding-top: 21px;
    padding-bottom: 75px;
    box-sizing: border-box;
}

.watch__cinema__info {
    display: flex;
}

.info__text {
    display: flex;
    padding-right: 25px;
    
}

.info__text p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    padding-left: 8px;
}

.main__content {
    display: flex;
}

.main__title {
    width: 55%;
    padding-top: 19px;
    padding-right: 0px;
}

.main__title h1 {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 81px;
}

.main__image {
    width: 45%;
    padding-left: 92px;
}

.phrase {
    background-color: #1E4681;
    width: 483px;
    box-sizing: border-box;
    margin-top: 53px;
    margin-left: 287px;
}

.phrase__text {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 32px;
    color: rgb(255, 255, 255);
    margin: 0px;
    padding: 20px 27px 5px 26px;
}

.phrase__name {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: right;
    line-height: 26px;
    color: rgb(255, 255, 255);
    padding-top: 6px;
    padding-right: 18px;
    padding-bottom: 17px;
    margin: 0px;
}

.about-course .container{
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 165px;
   
    padding-left: 122px;
    padding-right: 150px;
}

.about-course h1{
    font-family: "Roboto Slab";
    font-size: 55px;
    font-weight: 700;
    margin-top: 0;
    padding-bottom: 1px;
    margin-bottom: 21px;
}
.about-course .content{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin-top: 0px;
}

.about-course .text{
    line-height: 150%;
    padding-top: 1px;
    padding-right: 160px
}

.paragraph__two {
    margin: 0;
    padding-top: 12px;
}

.about-course .image-first{
    width: 314px;
    height: 315px;
    margin-right: 28px;
    padding-top: 49px;
}
.about-course .bottom{
    margin-top: 72px;
    display: flex;
    align-items: center;
}
.about-course .menu{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    font-size: 18px;
}
.about-course .item{
    width: 150px;
    padding-right: 95px;
}
.about-course .image-second{
    padding-top: 0px;
    padding-right: 112px;
}
.about-course h2{
    margin-top: 0px;
    margin-bottom: 4px;
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
    line-height: 32px;
}
.item p {
    margin: 0px;
    padding-top: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}


.format__title {
    padding-top: 155px;
    padding-bottom: 114px
}

.format__title h1 {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    margin: 0;
}

.format__content{
    padding-right: 224px;
}

.format__info {
    display: flex;
    width: 90%;
}

.format__container1 {
    width: 23%;
    padding-right: 119px;
}

.format__container2 {
    width: 27%;
    padding-right: 118px;
}

.format__container3 {
    width: 25%;
}

.format__title__text {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: #1E4681;
    margin-top: 5px;
    margin-bottom: 0px;
}

.format__text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    margin: 0;
    padding-top: 10px;
}



.learn__title h1 {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    padding-top: 209px;
    margin: 0;
}

.learn__info {
   width: 51%;
    padding-top: 54px;
}

.learn__list {
    padding-left: 17px;
    margin: 0;
}
.learn__list li {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
}

.section-programm .course-program {
    margin-top: 221px;
    margin-bottom: 121px;
    padding-left: 121px;
}

.section-programm {
    max-width: 1440px;
    margin:auto;
}

.section-programm .container{
    box-sizing: border-box;
    padding-left: 0;
    padding-bottom: 85px;
}


    .programm-content {
        display: flex;
        flex-wrap: wrap;
        width: 1271px;
        margin: 0 auto;
    }
    
    .card {
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        margin-bottom: 42px;
        width: 399px;
        margin-right: 37px;
        height: 328px;
        transition-duration: 0.3s;
    }
    .card:nth-child(3n) {
        margin-right: 0;
    }
    
    .card:hover {
        box-shadow: 10px 10px 20px rgba(25, 22, 235, 0.25);
        outline: 3px solid rgb(70, 21, 187);
        cursor: pointer;
        transform: scale(1.1);
    }
    
    .card__title {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 130%;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 32px;
        padding-left: 22px;
    }
    
    .card__text {
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 130%;
        margin: 0;
        padding-bottom: 23px;
        padding-left: 19px;
    }
    
    .card__title__seminar{
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 97%;
        margin: 0;
        padding-top: 17px;
        padding-bottom: 7px;
        padding-left: 21px;
        
    }
    .card__text__seminar {
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 130%;
        margin: 0;
        padding-left: 19px;
        padding-bottom: 23px;
    }

.passed {
box-sizing: border-box;
background-color: #EFEFEF;
height: 780px;
}

.passed .author{
    display: flex;
    justify-content: flex-start;
}

.passed .rewiew{
    box-sizing: border-box;
    border-radius: 30px;
    background-color: white;
    width: 791px;
    height: 451px;
    padding: 8px 43px 40px 45px;
    margin-top: 65px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.passed .prewiew {
    font-size: 20px;
    line-height: 30px;
    padding-top: 10px;
    padding-left: 3px;
}

.passed h1{
    margin-top: 8px;
}

.passed .name-contact p{
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 30px;
}

.passed .name-contact{
    padding-left: 31px;
    padding-top: 19px;
}
.name-contact p {
    margin-bottom: 24px;
}
.passed .picture-author{
    padding-top: 13px;
    margin-left: -16px;
}
.passed .picture-fb{
    padding-bottom: 5px;
}
.passed .picture-fb .icon {
    transition-duration: 3s;
}

.passed .container{
    padding-top: 73px;
}

.start-course{
    box-sizing: border-box;
    background-color: #9DC9C8;
    height: 780px;
    padding-left: 0;
}

.start-course h1{
    padding-top: 5px;
}

.start-course .container{
    padding: 119px 410px 185px 122px;
}

.start-course .price-number{
    font-size: 80px;
    padding-bottom: 0px;
    margin: 0;
    line-height: 85px;
}

.start-course .subtitle-one {
    font-size: 25px;
    margin-top: 52px;
    margin-bottom: 0px;
}

.start-course .subtitle-two {
    font-size: 25px;
    margin-top: 57px;
    margin-bottom: 0px;
}

.start-course .pdesc{
    font-size: 18px;
    margin-top: 13px;
    line-height: 18px;
}

.start-course .description{
    display: flex;
    justify-content: flex-start;
    margin-top: 14px;
}

.start-course .description-one{
    box-sizing: border-box;
    width: 294px;
    margin-right: 70px;
}

.start-course .description-two{
    box-sizing: border-box;
    width: 294px;
}

.footer{
    background-color: black;
    color: white;
    height: 390px;
}

.footer .container{
    padding: 48px 146px 23px 120px;
}

.footer .block-contacts{
    display: flex;
    justify-content: space-between;
}

.footer .icon-contacts{
    display: flex;
    justify-content: space-between;
}

.footer .icon{
    margin-right: 20px;
    margin-top: 27px;
    transition-duration: 0.2s;
}

.icon:hover {
    outline: 0px solid rgb(200, 194, 214);
    cursor: pointer;
    transform: scale(1.1);
}

.footer .black-block{
    box-sizing: border-box;
}

.footer .mini-logo{
    padding-top: 138px;
    font-size: 18px;
}

.footer .right-side{
    font-size: 25px;
    padding-right: 32px;
    padding-top: 7px;
}

.footer .phone-number{
    display: flex;
}

.footer .e-mail{
    display: flex;
    padding-top: 10px;
}
.link {
    color: white;
    text-decoration: none;
}

.footer .icon-phone {
    margin-right: 22px;
}

.footer .icon-mail{
    margin-right: 20px;
    padding-right: 2px;
}








@media screen and (min-width: 992px) and (max-width: 1279px) {
  
    .container{
        box-sizing: border-box;
        width: 834px;
        margin:0 auto;
        padding-left: 70px;
    }

    .logotip {
        padding-top: 22px;
        padding-bottom: 43px;
    }

    .logotip img {
        width: 64px;
        height: 38px;
    }

    .info__text img {
        width: 12px;
        height: 12px;
    }

    .info__text {
        display: flex;
        padding-right: 25px;
        align-items: center;
        
    }
    
    .info__text p {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        padding-left: 6px;
        margin-top: 11px;
    }
    
    .watch__cinema_text {
        font-style: normal;
        font-weight: normal;
        margin: 0;
        padding-top: 19px;
        font-size: 12px;
        line-height: 18px;

    }
    
    .watch__cinema__info {
        display: flex;
    }
    
    
    .main__content {
        display: flex;
    }
    
    .main__title {
        width: 55%;
        padding-top: 0px;
        padding-right: 0px;
    }
    
    .main__title h1 {
        font-family: "Roboto Slab";
        font-style: normal;
        font-weight: bold;
        font-size: 46px;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 47px;
    }
    
    .main__image {
        
        padding-left: 57px;
    }

    .main__image img {
        width: 176px;
        height: 206px;
    }

    .phrase {
        background-color: #1E4681;
        width: 280px;
        box-sizing: border-box;
        margin-top: 43px;
        margin-left: 168px;
    }
    
    .phrase__text {
        font-size: 14px;
        line-height: 18px;
        margin: 0px;
        padding: 10px 27px 1px 14px;
    }
    
    .phrase__name {
        font-size: 12px;
        line-height: 16px;
        padding-top: 1px;
        padding-right: 10px;
        padding-bottom: 14px;
        margin: 0px;
    }

    .about-course .container{
        box-sizing: border-box;
        max-width: 834px;
        min-width: 375px;
        margin: 0 auto;
        padding-top: 101px;
        padding-left: 71px;
        padding-right: 150px;
    }
    
    .about-course h1{
        font-family: "Roboto Slab";
        font-size: 32px;
        line-height: 32px;
        margin-top: 0;
        padding-bottom: 1px;
        margin-bottom: 16px;
    }

    .about-course .content{
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        margin-top: 0px;
    }
    
    .about-course .text{
        width: 62%;
        line-height: 21px;
        padding-top: 1px;
        padding-right: 0px;
    }

    .paragraph__two {
        margin: 0;
        padding-top: 7px;
    }
    
    .about-course .image-first{
       width: 17%;
       height: 207px;
        padding-top: 1px;
    }

    .image-first img {
        width: 212px;
        height: 207px;
        padding-top: 23px;
    }

    .about-course .bottom{
        margin-top: 41px;
        display: flex;
        align-items: center;
    }

    .about-course .menu{
        display: flex;
        justify-content: space-between;
        margin-left: 20px;
        font-size: 18px;
    }

    .about-course .item{
        width: 23%;
        padding-right: 27px;
    }

    .about-course .image-second{
        padding-top: 0px;
        padding-right: 56px;
    }

    .image-second img {
        width: 134px;
    }

    .about-course h2{
        margin-top: 4px;
        font-size: 15px;
        line-height: 19px;
    }

    .item p {
        margin: 0;
        padding-top: 1px;
        font-size: 11px;
        line-height: 14px;
    }

    .format__title {
        padding-top: 90px;
        padding-bottom: 70px;
        
    }
    
    .format__title h1 {
        font-size: 32px;
        line-height: 32px;
        margin: 0;
    }
    
    .format__content{
        padding-right: 0;
    }
    
    .format__info {
        display: flex;
        width: 100%;
    }
    
    .format__container1 {
        width: 18%;
        padding-right: 63px;
    }
    
    .format__container2 {
        width: 21%;
        padding-right: 62px;
    }
    
    .format__container3 {
        
        width: 20%;
    }

    .format__title__text {
        font-size: 15px;
        line-height: 19px;
        color: #1E4681;
        margin-top: 5px;
        margin-bottom: 0px;
    }
    
    .format__text {
        font-size: 11px;
        line-height: 14px;
        margin: 0;
        padding-top: 4px;
    }
    

    .learn__title h1 {
        font-size: 32px;
        line-height: 32px;  
        padding-top: 124px;
        margin: 0;
    }
    
    .learn__info {
       width: 51%;
        padding-top: 34px;
    }
    
    .learn__list {
        padding-left: 10px;
        margin: 0;
    }

    .learn__list li {
        font-size: 14px;
        line-height: 21px;
    }

    .section-programm .course-program {
        margin-top: 129px;
        margin-bottom: 75px;
        padding-left: 70px;
        font-size: 32px;
        line-height: 32px;
    }
    
    .section-programm {
        max-width: 834px;
        margin:auto;
    }

    .section-programm .container{
        box-sizing: border-box;
        padding-bottom: 30px;
    }
    
        .programm-content {
            display: flex;
            flex-wrap: wrap;
            width: 737px;
        }
        
        .card {
            box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
            border-radius: 17px;
            margin-bottom: 23px;
            width: 231px;
            margin-right: 22px;
            height: 192px;
        }

        .card img {
            width: 231px;
        }
        
        .card:hover {
            box-shadow: 5px 5px 5px rgba(25, 22, 235, 0.25);
            border: 2px solid rgb(70, 21, 187);
            cursor: pointer;
        }
        
        .card__title {
            font-size: 17px;
            line-height: 22px;
            margin: 0;
            padding-top: 3px;
            padding-bottom: 20px;
            padding-left: 12px;
        }
        
        .card__text {
            font-size: 14px;
            line-height: 18px;
            margin: 0;
            padding-bottom: 0px;
            padding-left: 12px;
        }
        
        .card__title__seminar{
            font-size: 17px;
            line-height: 16px;
            margin: 0;
            padding-top: 6px;
            padding-bottom: 5px;
            padding-left: 12px;
            
        }

        .card__text__seminar {
            font-size: 14px;
            line-height: 18px;
            margin: 0;
            margin: 0;
            padding-top: 3px;
            padding-left: 12px;
            padding-bottom: 0px;
        }
    

        .passed {
            box-sizing: border-box;
            background-color: #EFEFEF;
            height:451px;
            }
            
            .passed .author{
                display: flex;
                justify-content: flex-start;
            }
            
            .passed .rewiew{
                box-sizing: border-box;
                background-color: white;
                width: 462px;
                height: 261px;
                padding: 3px 51px 12px 26px;
                margin-top: 41px;
                box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
                border-radius: 17px;
            }
            
            .passed .prewiew {
                font-size: 12px;
                line-height: 18px;
                padding-top: 8px;
                padding-left: 3px;
            }
            
            .passed h1{
                font-size: 32px;
                line-height: 32px;
                margin-top: 8px;
            }
            
            .passed .name-contact p{
                font-size: 17px;
                line-height: 17px;
                margin-bottom: 18px;
            }
            
            .passed .name-contact{
                padding-left: 18px;
                padding-top: 10px;
            }

            .passed .picture-author{
                padding-top: 3px;
                margin-left: -8px;
            }

            .picture-author img {
                width:110px;
            }

            .passed .picture-fb{
                padding-bottom: 5px;
            }

            .fb {
                width:18px;
            }

            .passed .container{
                padding-top: 44px;
            }
            


            
.start-course{
    box-sizing: border-box;
    background-color: #9DC9C8;
    height: 453px;
    padding-left: 0;
}

.start-course h1{
    padding-top: 5px;
    font-size: 32px;
    line-height: 32px;



}

.start-course .container{
    padding: 72px 319px 185px 70px;
}

.start-course .price-number{
    font-size: 80px;
    padding-bottom: 0px;
    margin: 0;
    line-height: 85px;
    font-size: 46px;
line-height: 47px;
}

.start-course .subtitle-one {
    font-size: 25px;
    margin-top: 38px;
    margin-bottom: 2px;
    font-size: 14px;
line-height: 14px;
}

.start-course .subtitle-two {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 14px;
}

.start-course .pdesc{
    font-size: 18px;
    margin-top: 9px;
    line-height: 18px;
    font-size: 10px;
line-height: 10px;
}

.start-course .description{
    display: flex;
    justify-content: flex-start;
    margin-top: 14px;
}

.start-course .description-one{
    box-sizing: border-box;
    width: 211px;
    margin-right: 0px;
    padding-right: 37px;
}

.start-course .description-two{
    box-sizing: border-box;
    width: 170px;
}

.footer{
    height: 226px;
}

.footer .container{
    padding: 27px 107px 23px 71px;
}

.footer .block-contacts{
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 66px;
}

.footer .icon-contacts{
    display: flex;
    justify-content: space-between;
}

.footer .icon{
    margin-right: 11px;
    margin-top: 13px;
}

.icon img {
    width: 19px;
}

.footer .black-block{
    box-sizing: border-box;
}

.footer .mini-logo{
    padding-top: 79px;
    font-size: 10px;
}

.footer .right-side{
    font-size: 14px;
    padding-right: 0px;
    padding-top: 5px;
}

.footer .phone-number{
    display: flex;
}

.footer .e-mail{
    display: flex;
    padding-top: 6px;
}

.footer .icon-phone {
    margin-right: 13px;
}

.icon-phone img {
    width: 15px;
    padding-left: 10px;
}

.footer .icon-mail{
    margin-right: 10px;
    padding-left: 0px;
}

.icon-mail img {
    width: 15px;
    padding-left: 10px;
}

}

@media screen and (min-width: 320px) and (max-width: 991px) {

.container{
    padding-left: 34px;
    width: 320px;
    background-color: blue;
}

.watch__cinema h1 {
    font-size: 37px;
    line-height: 39px;
    margin: 0;
}

.main__title{
    padding: 0;
    margin-right: 0;
}

.main__content{
    display: block;
}

.watch__cinema_text {
    font-size: 10px;
    padding-top: 13px;
    line-height: 15px;
}

.watch__cinema .logotip  {
        padding-top: 34px;
        padding-bottom: 30px;
        box-sizing: border-box;
    }

    .logotip img{
        width: 52px;
    }

    .watch__cinema .info__text img {
        width: 10px;
    }

    .info__text{
        padding-right: 15px;
    }

    .info__text p{
        font-size: 10px;
        padding-left: 4px;
}

    .main__image img{
        width: 141px;
    }

    .main__image{
        padding-left: 167px;
    }

.phrase{
    width: 225px;
    margin: 35px 0px 0px 4px;
}

.phrase__text{
    font-size: 11px;
    line-height: 14px;
    padding: 9px 16px 0px 12px;
}

.phrase__name{
    font-size: 10px;
    line-height: 13px;
    padding: 3px 7px 11px 19px;

}

.about-course .container{
    padding: 71px 24px 0px 36px;
    width: 320px;
    background-color: crimson;
}

.about-course h1{
    font-size: 26px;
}

.about-course .content{
    display: block;
    
}

.about-course .content .text{
    font-size: 12px;
    line-height: 18px;
    padding: 0px 0px 0px 0px;
    width: 100%;
}

.about-course .image-first img{
    width: 170px;
    padding-top: 0px;
    padding-left: 66px;
}

.about-course .image-first{
    padding-top: 14px;
    padding-left: 0px;
    margin-bottom: -109px;
}

.about-course .paragraph__one{
padding-right: 9px;
}

.about-course .paragraph__two{
    padding-top: 6px;
    padding-right: 20px;
    
}

.about-course .image-second {
    display: none;
    position: relative;
}

.about-course .bottom{
    width: 80%;
    margin: 0px 0px 0px 0px;
}

.about-course .menu{
    margin: 0px 0px 0px -1px;
    justify-content: flex-start;
    flex-wrap: wrap; 
} 

.about-course h2{
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 0px;
}

.about-course .menu p{
    font-size: 10px;
    line-height: 13px;
    padding-bottom: 27px;
    

}

.about-course .menu .item{
    width: 81px;
    padding-right: 38px;
}

.format__title h1{
    font-size: 26px;
}

.format__title {
    padding-top: 37px;
    padding-bottom: 0px;
}

.format__info {
    display: block;
    width: 100%;
}

.format__title__text{
    font-size: 12px;
    line-height: 15px;
}

.format__text{
    font-size: 10px;
    line-height: 13px;
    padding-top: 3px;
}

.format__container1 {
    width: 150%;
    padding-right: 0px;
}

.format__container2 {
    width: 135%;
    padding-right: 0px;
    margin-top: 32px;
}

.format__container3 {
    width: 150%;
    padding-right: 0px;
    margin-top: 32px;
    padding-left: 1px;
}

.format__content {
    margin-top: 31px;
    padding-right: 160px;
}

.section-learn .container{
    padding-right: 5px;
    background-color: cyan;
}

.learn__title{
    margin-top: 69px;
}

.learn__title h1{
    font-size: 26px;
    line-height: 26px;
    padding: 10px 10px 0px 0px;
}

.learn__info{
    width: 90%;
    padding-top: 28px;
}

.learn__list{
    padding: 0px 0px 0px 13px; 
}

.learn__list li{
    font-size: 12px;
    line-height: 18px;
    margin-left: -4px;
}

.section-programm {
    width: 320px;
    margin: auto;
    padding-left: 0px;
    background-color: darkgoldenrod;
}

.section-programm .course-program {
    font-size: 26px;
    line-height: 26px;
    padding: 10px 10px 0px 0px;
    margin-top: 50px;
    margin-bottom: 54px;
}

.section-programm .container{
    padding-left: 0px;
    padding-bottom: 16px;
    background-color: darkgreen;
}

.card{
    box-sizing: content-box;
    width: 186px;
    height: 152px;
    box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    margin-bottom: 25px;
    margin-left: 0px;
    margin-right: 6px;

}

.card__title{
    font-size: 14px;
    line-height: 18px;
    padding-top: 0px;
    padding-left: 10px;
    padding-bottom: 15px;
}

.card__text{
    font-size: 12px;
    line-height: 16px;
    padding-top: 0px;
    padding-left: 9px;
}

.card__title__seminar{
    font-size: 14px;
    line-height: 15px;
    padding-top: 2px;
    padding-left: 10px;
    padding-bottom: 3px;
}

.card__text__seminar{
    font-size: 12px;
    line-height: 15px;
    padding-top: 0px;
    padding-left: 9px;
}

.card img{
    width: 100%;
}

.programm-content{
    padding-left: 61px;
    width: 190px;
}

.passed h1{
    font-size: 26px;
    line-height: 26px;
    padding-top: 0px;
    padding-left: 35px;
    padding-right: 53px;
    margin-top: 6px;
}

.passed{
    height: 423px;
    width: 320px;
}

.passed .container{
    padding-left: 0px;
    padding-top: 35px;
    margin-top: 7px;
    background-color: darkmagenta;
}

.passed .rewiew{
    width: 308px;
    height: 248px;
    margin-top: 28px;
    border-radius: 15px;
    padding: 8px 27px 0px 20px;
    margin-left: 36px;
}

.passed .prewiew{
    font-size: 10px;
    line-height: 15px;
    padding: 0px 0px 0px 0px;
}

.passed .picture-author{
    padding: 5px 0px 0px 12px;
    margin-left: -19px;
}

.passed .picture-author img{
    width: 93px;
}

.passed .name-contact p{
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 17px;
}

.passed .name-contact{
    padding-left: 8px;
    padding-top: 7px;
}

.passed .pcture-fb img{
    width: 15px;
    height: 18px;
}

.passed .pcture-fb{
    padding-top: 0px;
}

.start-course h1{
    font-size: 26px;
    line-height: 27px;
    padding-right: 100px;
}

.start-course .subtitle-one {
    font-size: 12px;
    line-height: 12px;
    margin-top: 30px;
    margin-bottom: 3px;
}

.start-course .subtitle-two {
    font-size: 12px;
    line-height: 12px;
}

.start-course .price-number{
    font-size: 37px;
    line-height: 37px;
}

.start-course .description{
    margin-top: -22px;
    padding-right: 20px;
}

.start-course .description-one{
    width: auto;
    padding-right: 0px;
    margin-right: 31px;
}

.start-course .description-two{
    width: auto;
}

.start-course .description-one .pdesc{
    width: 138px;
}

.start-course .description-two .pdesc{
    width: 140px;
}

.start-course .pdesc{
    font-size: 10px;
    line-height: 10px;
    padding-right: 0px;
    margin-top: 7px;
}

.start-course{
    height: 363px;
}

.start-course .container{
    padding-left: 26px;
    padding-top: 36px;
    padding-right: 37px;
    padding-bottom: 0px;
    background-color: darkred;
}

.footer{
    height: 251px;
}

.footer .container{
    padding: 22px 0px 0px 30px;
    background-color: black;
}

.footer .block-contacts{
    display: block;
}

.footer .logo img{
    width: 53px;
}

.footer .icon-contacts{
    justify-content: flex-start;
}

.footer .icon{
    margin-right: 9px;
    margin-top: 10px;
}

.footer .icon img {
    width: 15px;
}

.footer .icon-phone img{
    width: 12px;
}

.footer .icon-mail img{
    width: 12px;
}

.footer .right-side{
    font-size: 12px;
    line-height: 12px;
    margin-top: 39px;
}

.footer .icon-phone {
    margin-right: 11px;
}

.footer .e-mail {
    padding-top: 7px;
}

.footer .icon-mail {
    margin-right: 9px;
}

.footer .mini-logo{
    font-size: 10px;
    padding-top: 54px;
}
 
}