@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.wrapper {
    font-family: "Roboto", sans-serif;
    color: black;
}


.container{
    max-width: 1440px;
    margin:0 auto;
    padding-left: 122px;
    box-sizing: border-box;
}

h1 {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
}

.watch__cinema {

}

.watch__cinema h1 {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
}
.watch__cinema_text {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    padding-top: 16px;
}



.logotip {
    padding-top: 35px;
    padding-bottom: 75px;
    box-sizing: border-box;
}

.watch__cinema__info {
    display: flex;
}

.info__text {
    display: flex;
    padding-right: 25px;
    
}

.info__text p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    padding-left: 8px;
}

.main__content {
    display: flex;
}

.main__title {
    width: 55%;
    padding-top: 19px;
    padding-right: 0px;
}

.main__title h1 {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 81px;
}

.main__image {
    width: 45%;
    padding-left: 92px;
}

.phrase {
    background-color: #1E4681;
    width: 483px;
    box-sizing: border-box;
    margin-top: 53px;
    margin-left: 287px;
}

.phrase__text {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 32px;
    color: rgb(255, 255, 255);
    margin: 0px;
    padding: 20px 27px 5px 26px;
}

.phrase__name {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: right;
    line-height: 26px;
    color: rgb(255, 255, 255);
    padding-top: 1px;
    padding-right: 18px;
    padding-bottom: 19px;
    margin: 0px;
}

.about-course .container{
    box-sizing: border-box;
    max-width: 1440px;
    min-width: 375px;
    margin: 0 auto;
    padding-top: 165px;
    /* background-color: tomato; */
    padding-left: 122px;
    padding-right: 150px;
}

.about-course h1{
    font-family: "Roboto Slab";
    font-size: 55px;
    font-weight: 700;
    margin-top: 0;
    padding-bottom: 1px;
    margin-bottom: 21px;
}
.about-course .content{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin-top: 0px;
}

.about-course .text{
    line-height: 150%;
    padding-top: 1px;
    padding-right: 160px
}

.paragraph__two {
    margin: 0;
    padding-top: 12px;
}

.about-course .image-first{
    width: 314px;
    height: 315px;
    margin-right: 28px;
    padding-top: 49px;
}
.about-course .bottom{
    margin-top: 72px;
    display: flex;
    align-items: center;
}
.about-course .menu{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    font-size: 18px;
}
.about-course .item{
    width: 150px;
    padding-right: 95px;
}
.about-course .image-second{
    padding-top: 0px;
    padding-right: 112px;
}
.about-course h2{
    margin-top: 0px;
    margin-bottom: 4px;
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
    line-height: 32px;
}
.item p {
    margin: 0px;
    padding-top: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}


.format__title {
    padding-top: 149px;
    padding-bottom: 114px
}

.format__title h1 {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    margin: 0;
}

.format__content{
    padding-right: 224px;
}

.format__info {
    display: flex;
    width: 90%;
}

.format__container1 {
  width: 23%;
    padding-right: 119px;
}

.format__container2 {
    width: 27%;
    padding-right: 118px;
}

.format__container3 {
    width: 25%;
}

.format__title__text {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: #1E4681;
    margin-top: 5px;
    margin-bottom: 0px;
}

.format__text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    margin: 0;
    padding-top: 10px;
}



.learn-title h1 {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    padding-top:179px;
}

.learn-info {
   width: 44%;
   
}

.learn-list {
    padding-left: 25px;
}
.learn-list li {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
}

.course-program {
    margin: 0;
    padding-top: 240px;
    padding-bottom: 95px;
}

.section__programm {
    max-width: 1440px;
    margin:auto;
    padding-left: 84px;
}

    .programm__content {
        display: flex;
        flex-wrap: wrap;
    }
    
    .card {
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        margin-bottom: 41px;
        max-width: 399px;
        margin-right: 37px;
    }
    
    .card:hover {
        box-shadow: 10px 10px 20px rgba(25, 22, 235, 0.25);
        border: 3px solid rgb(70, 21, 187);
        cursor: pointer;
    }
    
    .card__title {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 130%;
        margin: 0;
        padding-top:11px;
        padding-bottom: 32px;
        padding-left: 20px;
    }
    
    .card__text {
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 130%;
        margin: 0;
        padding-bottom: 23px;
        padding-left: 19px;
    }
    
    .card__title__seminar{
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 97%;
        margin: 0;
        padding-top: 16px;
        padding-bottom: 5px;
        padding-left: 20px;
        
    }
    .card__text__seminar {
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 130%;
        margin: 0;
        padding-left: 19px;
        padding-bottom: 23px;
    }

.passed {
box-sizing: border-box;
background-color: #EFEFEF;
height: 780px;
}

.author{
    display: flex;
    justify-content: flex-start;
}

.rewiew{
    box-sizing: border-box;
    border-radius: 30px;
    background-color: white;
    width: 791px;
    height: 451px;
    padding: 20px 46px 40px 45px;
    margin-top: 64px;
    /* padding-left: 126px; */
}

.rewiew p{
    font-size: 20px;
    line-height: 30px;
}

.passed h1{
    padding-top: 81px;
    margin-bottom: 20px;
}

.name-contact p{
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 30px;
}

.name-contact{
    padding-left: 27px;
    padding-top: 23px;
}
.picture-author{
    padding-top: 11px;
    margin-left: -19px;
}

.start-course{
    box-sizing: border-box;
    background-color: #9DC9C8;
    height: 780px;
    padding-left: 0;
}

.start-course h1{
    margin: 0;
}

.start-course .container{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 175px 410px 185px 122px;
}

.start-course .price-number{
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.start-course .subtitle-one {
    font-size: 25px;
    margin-top: 52px;
    margin-bottom: 0px;
}

.start-course .subtitle-two {
    font-size: 25px;
    margin-top: 57px;
    margin-bottom: 0px;
}

.start-course .pdesc{
    font-size: 18px;
    margin-top: 14px;
    line-height: 18px;
}

.start-course .description{
    display: flex;
    justify-content: flex-start;
}

.start-course .description-one{
    box-sizing: border-box;
    width: 294px;
    margin-right: 70px;
}

.start-course .description-two{
    box-sizing: border-box;
    width: 294px;
}

.footer{
    background-color: black;
    color: white;
    /* box-sizing: border-box; */
    height: 390px;
}

.footer .container{
    padding: 50px 146px 23px 0px;
}

.footer .black-block{
    /* display: flex;
    flex-direction: column;
    /* justify-content: flex-start;
    align-items: flex-end; */
}

.footer .block-contacts{
    display: flex;
    justify-content: space-between;
}

.footer .icon-contacts{
    display: flex;
    justify-content: space-between;
}

.footer .icon{
    margin-right: 20px;
    margin-top: 27px;
}

.footer .mini-logo{
padding-top: 116px;
font-size: 18px;
}

.footer .right-side{
    font-size: 25px;
    padding-right: 32px;
    padding-top: 10px;
}

.footer .phone-number{
    display: flex;
}

.footer .e-mail{
    display: flex;
    padding-top: 8px;
}

.footer .icon-phone {
    margin-right: 20px;
}

.footer .icon-mail{
    margin-right: 20px;
}









@media screen and (min-width: 992px) and (max-width: 1279px) {

}

@media screen and (min-width: 320px) and (max-width: 991px) {


}