@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.wrapper {
    font-family: "Roboto", sans-serif;
    color: black;
}
h1{
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
}
.container{
    box-sizing: border-box;
    max-width: 1440px;
    margin:auto;
    padding-left: 122px;
}
.watch-cinema {
    padding-top:22px;
}

h1 {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    
}

.logotip {
    padding-bottom: 76px;
    padding-top: 13px;
}

.watch-cinema-info {
    display: flex;
}

.info-text {
    display: flex;
    padding-right: 25px;
}

.info-text p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    padding-left: 8px;
}

.main-content {
    display: flex;
}

.main-title {
    width: 50%;
    padding-right: 140px;
    padding-top: 15px;
}

.main-title h1 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.main-title p {
    
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

.main-image {
    width: 50%;
}

.phrase {
    background-color: #1E4681;
    width: 483px;
    box-sizing: border-box;
    margin-top: 67px;
    margin-left: 287px;
}

.phrase-text {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: #FFFFFF;
    margin: 0px;
    padding: 19px 27px 5px 26px;
}

.phrase-name {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: right;
    color: #FFFFFF;
    padding-top: 5px;
    padding-right: 18px;
    padding-bottom: 5px;
    margin: 0;
}

.format-title {
    padding-bottom: 89px
}

.format-title h1 {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    margin-bottom: 0;
}

.format-content{
    padding-right: 224px;
}

.format-info {
    display: flex;
    width: 90%;
}

.format-container1 {
  width: 20%;
    padding-right: 122px;
}

.format-container2 {
    width: 25%;
    padding-right: 110px;
}

.format-container3 {
    width: 30%;
}

.format-title-text {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: #1E4681;
    margin-top: 5px;
    margin-bottom: 0px;
}

.format-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-top: 10px;
}
.learn-title h1 {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    padding-top:577px; это я так подвинула, чтобы все вниз съехало до моего блока
}

.learn-info {
   width: 44%;
   
}

.learn-list {
    padding-left: 25px;
}
.learn-list li {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
}

.section-programm .course-program {
    margin: 0;
    padding-top: 147px;
    padding-bottom: 132px;
    padding-left: 39px;
}

.section-programm {
    max-width: 1440px;
    margin:auto;
    padding-left: 84px;
}
.section-programm .container{
    box-sizing: border-box;
    padding-left: 41px;
}


    .programm-content {
        display: flex;
        flex-wrap: wrap;
    }
    
    .card {
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        margin-bottom: 38px;
        max-width: 399px;
        margin-right: 37px;
    }
    
    .card:hover {
        box-shadow: 10px 10px 20px rgba(25, 22, 235, 0.25);
        border: 3px solid rgb(70, 21, 187);
        cursor: pointer;
    }
    
    .card__title {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 130%;
        margin: 0;
        padding-top:11px;
        padding-bottom: 32px;
        padding-left: 20px;
    }
    
    .card__text {
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 130%;
        margin: 0;
        padding-bottom: 23px;
        padding-left: 19px;
    }
    
    .card__title__seminar{
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 97%;
        margin: 0;
        padding-top: 16px;
        padding-bottom: 5px;
        padding-left: 20px;
        
    }
    .card__text__seminar {
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 130%;
        margin: 0;
        padding-left: 19px;
        padding-bottom: 23px;
    }

.passed {
box-sizing: border-box;
background-color: #EFEFEF;
height: 780px;
}

.passed .author{
    display: flex;
    justify-content: flex-start;
}

.passed .rewiew{
    box-sizing: border-box;
    border-radius: 30px;
    background-color: white;
    width: 791px;
    height: 451px;
    padding: 20px 46px 40px 45px;
    margin-top: 71px;
}

.passed .prewiew {
    font-size: 20px;
    line-height: 30px;
    /* padding-top: 111px; */
    padding-left: 5px;
}

.passed h1{
    padding-top: 91px;
    margin-bottom: 20px;
}

.passed .name-contact p{
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 30px;
}

.passed .name-contact{
    padding-left: 33px;
    padding-top: 19px;
}
.passed .picture-author{
    padding-top: 11px;
    margin-left: -19px;
}
.passed .picture-fb{
    padding-bottom: 5px;
}

.start-course{
    box-sizing: border-box;
    background-color: #9DC9C8;
    height: 780px;
    padding-left: 0;
}

.start-course h1{
    padding-top: 5px;
}

.start-course .container{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 129px 410px 185px 122px;
}

.start-course .price-number{
    font-size: 80px;
    padding-bottom: 0px;
    margin: 0;
}

.start-course .subtitle-one {
    font-size: 25px;
    margin-top: 61px;
    margin-bottom: 0px;
}

.start-course .subtitle-two {
    font-size: 25px;
    margin-top: 57px;
    margin-bottom: 0px;
}

.start-course .pdesc{
    font-size: 18px;
    margin-top: 13px;
    line-height: 18px;
}

.start-course .description{
    display: flex;
    justify-content: flex-start;
    margin-top: 2px;
}

.start-course .description-one{
    box-sizing: border-box;
    width: 294px;
    margin-right: 70px;
}

.start-course .description-two{
    box-sizing: border-box;
    width: 294px;
}

.footer{
    background-color: black;
    color: white;
    /* box-sizing: border-box; */
    height: 390px;
}

.footer .container{
    padding: 50px 146px 23px 120px;
}

.footer .block-contacts{
    display: flex;
    justify-content: space-between;
}

.footer .icon-contacts{
    display: flex;
    justify-content: space-between;
}

.footer .icon{
    margin-right: 20px;
    margin-top: 27px;
}
.footer .black-block{
    box-sizing: border-box;
}

.footer .mini-logo{
    padding-top: 135px;
    font-size: 18px;
}

.footer .right-side{
    font-size: 25px;
    padding-right: 32px;
    padding-top: 9px;
}

.footer .phone-number{
    display: flex;
}

.footer .e-mail{
    display: flex;
    padding-top: 8px;
}

.footer .icon-phone {
    margin-right: 21px;
}

.footer .icon-mail{
    margin-right: 20px;
    padding-right: 2px;
}
.about-course .container{
    box-sizing: border-box;
    max-width: 1440px;
    min-width: 375px;
    margin: 0 auto;
    padding-top: 82px;
    /* background-color: tomato; */
    padding-left: 0px;
    padding-right: 150px;
}
.about-course h1{
font-family: "Roboto Slab";
font-size: 55px;
font-weight: 700;
margin-top: 0;
padding-bottom: 16px;
margin-bottom: 21px;
}
.about-course .content{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin-top: 0px;
}
.about-course .text{
    line-height: 150%;
    padding-top: 10px;
    padding-right: 160px;
}
.about-course .image-first{
    width: 314px;
    height: 315px;
    margin-right: 28px;
    padding-top: 35px;
}
.about-course .bottom{
    margin-top: 36px;
    display: flex;
    align-items: center;
}
.about-course .menu{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    font-size: 18px;
}
.about-course .item{
    margin-left: 112px;
    width: 150px;
    margin-right: 20px;
}
.about-course .image-second{
    padding-top: 3px;
    /* margin-left: -6px; */
}
.about-course h2{
    padding-top: 7px;
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 25px;
    line-height: 32,5px;
}
.about-course p {
    margin-top: 0px;
    padding-bottom: 12px;
}









@media screen and (min-width: 992px) and (max-width: 1279px) {

}

@media screen and (min-width: 320px) and (max-width: 991px) {


}