@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.wrapper {
    font-family: "Roboto", sans-serif;
    color: black;
}


.container{
    box-sizing: border-box;
    max-width: 1440px;
    margin:0 auto;
    padding-left: 122px;
    box-sizing: border-box;
}

h1 {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
}
.watch__cinema h1 {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
}
.watch__cinema_text {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    padding-top: 16px;
}



.logotip {
    padding-top: 12px;
    padding-bottom: 75px;
    box-sizing: border-box;
}

.watch__cinema__info {
    display: flex;
}

.info__text {
    display: flex;
    padding-right: 25px;
    
}

.info__text p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    padding-left: 8px;
}

.main__content {
    display: flex;
}

.main__title {
    width: 55%;
    padding-top: 19px;
    padding-right: 0px;
}

.main__title h1 {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 81px;
}

.main__image {
    width: 45%;
    padding-left: 92px;
}

.phrase {
    background-color: #1E4681;
    width: 483px;
    box-sizing: border-box;
    margin-top: 53px;
    margin-left: 287px;
}

.phrase__text {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 32px;
    color: rgb(255, 255, 255);
    margin: 0px;
    padding: 20px 27px 5px 26px;
}

.phrase__name {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: right;
    line-height: 26px;
    color: rgb(255, 255, 255);
    padding-top: 1px;
    padding-right: 18px;
    padding-bottom: 19px;
    margin: 0px;
}

.about-course .container{
    box-sizing: border-box;
    max-width: 1440px;
    min-width: 375px;
    margin: 0 auto;
    padding-top: 165px;
    /* background-color: tomato; */
    padding-left: 122px;
    padding-right: 150px;
}

.about-course h1{
    font-family: "Roboto Slab";
    font-size: 55px;
    font-weight: 700;
    margin-top: 0;
    padding-bottom: 1px;
    margin-bottom: 21px;
}
.about-course .content{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin-top: 0px;
}

.about-course .text{
    line-height: 150%;
    padding-top: 1px;
    padding-right: 160px
}

.paragraph__two {
    margin: 0;
    padding-top: 12px;
}

.about-course .image-first{
    width: 314px;
    height: 315px;
    margin-right: 28px;
    padding-top: 49px;
}
.about-course .bottom{
    margin-top: 72px;
    display: flex;
    align-items: center;
}
.about-course .menu{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    font-size: 18px;
}
.about-course .item{
    width: 150px;
    padding-right: 95px;
}
.about-course .image-second{
    padding-top: 0px;
    padding-right: 112px;
}
.about-course h2{
    margin-top: 0px;
    margin-bottom: 4px;
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
    line-height: 32px;
}
.item p {
    margin: 0px;
    padding-top: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}


.format__title {
    padding-top: 149px;
    padding-bottom: 114px
}

.format__title h1 {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    margin: 0;
}

.format__content{
    padding-right: 224px;
}

.format__info {
    display: flex;
    width: 90%;
}

.format__container1 {
  width: 23%;
    padding-right: 119px;
}

.format__container2 {
    width: 27%;
    padding-right: 118px;
}

.format__container3 {
    width: 25%;
}

.format__title__text {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: #1E4681;
    margin-top: 5px;
    margin-bottom: 0px;
}

.format__text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    margin: 0;
    padding-top: 10px;
}



.learn__title h1 {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    padding-top: 209px;
    margin: 0;
}

.learn__info {
   width: 51%;
    padding-top: 50px;
}

.learn__list {
    padding-left: 17px;
    margin: 0;
}
.learn__list li {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
}

.section-programm .course-program {
    margin-top: 222px;
    margin-bottom: 120px;
    padding-left: 39px;
}

.section-programm {
    max-width: 1440px;
    margin:auto;
    padding-left: 84px;
}
.section-programm .container{
    box-sizing: border-box;
    padding-left: 41px;
    padding-bottom: 85px;
}


    .programm-content {
        display: flex;
        flex-wrap: wrap;
    }
    
    .card {
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        margin-bottom: 42px;
        width: 399px;
        margin-right: 37px;
        height: 328px;
    }
    
    .card:hover {
        box-shadow: 10px 10px 20px rgba(25, 22, 235, 0.25);
        border: 3px solid rgb(70, 21, 187);
        cursor: pointer;
    }
    
    .card__title {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 130%;
        margin: 0;
        padding-top:11px;
        padding-bottom: 32px;
        padding-left: 20px;
    }
    
    .card__text {
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 130%;
        margin: 0;
        padding-bottom: 23px;
        padding-left: 19px;
    }
    
    .card__title__seminar{
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 97%;
        margin: 0;
        padding-top: 16px;
        padding-bottom: 5px;
        padding-left: 20px;
        
    }
    .card__text__seminar {
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 130%;
        margin: 0;
        padding-left: 19px;
        padding-bottom: 23px;
    }

.passed {
box-sizing: border-box;
background-color: #EFEFEF;
height: 780px;
}

.passed .author{
    display: flex;
    justify-content: flex-start;
}

.passed .rewiew{
    box-sizing: border-box;
    border-radius: 30px;
    background-color: white;
    width: 791px;
    height: 451px;
    padding: 12px 46px 40px 45px;
    margin-top: 65px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.passed .prewiew {
    font-size: 20px;
    line-height: 30px;
    padding-top: 8px;
    padding-left: 3px;
}

.passed h1{
    margin-top: 8px;
}

.passed .name-contact p{
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 30px;
}

.passed .name-contact{
    padding-left: 33px;
    padding-top: 19px;
}
.passed .picture-author{
    padding-top: 11px;
    margin-left: -19px;
}
.passed .picture-fb{
    padding-bottom: 5px;
}
.passed .container{
    padding-top: 73px;
}

.start-course{
    box-sizing: border-box;
    background-color: #9DC9C8;
    height: 780px;
    padding-left: 0;
}

.start-course h1{
    padding-top: 5px;
}

.start-course .container{
    /* margin: 0 auto; */
    padding: 122px 410px 185px 122px;
}

.start-course .price-number{
    font-size: 80px;
    padding-bottom: 0px;
    margin: 0;
    line-height: 85px;
}

.start-course .subtitle-one {
    font-size: 25px;
    margin-top: 52px;
    margin-bottom: 0px;
}

.start-course .subtitle-two {
    font-size: 25px;
    margin-top: 57px;
    margin-bottom: 0px;
}

.start-course .pdesc{
    font-size: 18px;
    margin-top: 13px;
    line-height: 18px;
}

.start-course .description{
    display: flex;
    justify-content: flex-start;
    margin-top: 14px;
}

.start-course .description-one{
    box-sizing: border-box;
    width: 294px;
    margin-right: 70px;
}

.start-course .description-two{
    box-sizing: border-box;
    width: 294px;
}

.footer{
    background-color: black;
    color: white;
    height: 390px;
}

.footer .container{
    padding: 50px 146px 23px 120px;
}

.footer .block-contacts{
    display: flex;
    justify-content: space-between;
}

.footer .icon-contacts{
    display: flex;
    justify-content: space-between;
}

.footer .icon{
    margin-right: 20px;
    margin-top: 27px;
}
.footer .black-block{
    box-sizing: border-box;
}

.footer .mini-logo{
    padding-top: 135px;
    font-size: 18px;
}

.footer .right-side{
    font-size: 25px;
    padding-right: 32px;
    padding-top: 9px;
}

.footer .phone-number{
    display: flex;
}

.footer .e-mail{
    display: flex;
    padding-top: 8px;
}

.footer .icon-phone {
    margin-right: 21px;
}

.footer .icon-mail{
    margin-right: 20px;
    padding-right: 2px;
}









@media screen and (min-width: 992px) and (max-width: 1279px) {

}

@media screen and (min-width: 320px) and (max-width: 991px) {

.container{
    padding-left: 35px;
    width: 375px;
}

.watch__cinema h1 {
    font-size: 37px;
    line-height: 38px;
    margin: 0;
}
.main__title{
    padding: 0;
    margin-right: 0;
}
.main__content{
    display: block;
}
.watch__cinema_text {
    font-size: 10px;
    padding-top: 17px;
    line-height: 15px;
}

.watch__cinema .logotip  {
        padding-top: 28px;
        padding-bottom: 30px;
        box-sizing: border-box;
    }
    .logotip img{
        width: 52px;
    }
    .watch__cinema .info__text img {
        width: 10px;
    }
    .info__text{
        padding-right: 10px;
    }
    .info__text p{
        font-size: 10px;
    }
    .main__image img{
        width: 141px;
    }
    .main__image{
        padding-left: 165px;
    }
.phrase{
    width: 225px;
    margin: 32px 0px 0px 3px;
}
.phrase__text{
    font-size: 11px;
    line-height: 14px;
    padding: 9px 12px 0px 12px;
}
.phrase__name{
    font-size: 10px;
    line-height: 13px;
    padding: 5px 7px 11px 19px;

}
.about-course .container{
    padding: 70px 0px 0px 36px;
}
.about-course h1{
    font-size: 26px;
}
.about-course .content{
    display: block;
    
}
.about-course .content .text{
    font-size: 12px;
    line-height: 18px;
    padding: 0px 0px 0px 0px;
    width: 100%;
}
.about-course .image-first img{
    width: 170px;
    padding-top: 0px;
    padding-left: 66px;
}
.about-course .image-first{
    padding-top: 15px;
    padding-left: 0px;
}
.about-course .paragraph__one{
padding-right: 9px;
}
.about-course .paragraph__two{
    padding-top: 6px;
    padding-right: 20px;
    
}
.about-course .image-second img{
    display: none;
}


}